@font-face
  font-style: normal
  font-family: "Vera Sans Mono"
  font-display: swap
  src: local("Vera Sans Mono"), url("../lib/bitstream-vera-sans-mono/Bitstream-Vera-Sans-Mono-400.woff2") format("woff2")
